In [1]:
import pandas as pd
pd.options.display.max_columns = 200
pd.options.display.max_colwidth = 200
pd.options.display.max_rows = 200
%matplotlib inline
%config InlineBackend.figure_format = 'svg'
from sklearn.linear_model import LinearRegression
from scipy.stats import linregress
import numpy as np
from datetime import datetime
import glob

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.utils import resample
from dateutil import relativedelta

from sklearn.metrics import accuracy_score, log_loss
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC, NuSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

import pandas_profiling
import seaborn as sns
from scipy import stats
import statistics

In [2]:
# =============================================================================
# Leitura de base de dados em csv dos "Dados_alunos_curso_SEI_Fev_2018_a_Jun_2019"
# =============================================================================
mydateparser = lambda x: pd.to_datetime(x, format="%d/%m/%Y %H:%M") 


alunos = pd.read_csv("dados\Curso-SEI-Dados-e-Notas-Alunos-20200121.csv",sep = ';',encoding ='cp860',parse_dates=
                     ['dt_inscricao','dt_fim_inscricao'])


#Tranformando o campo de data de nascimento em um objeto 'data'
alunos['dt_nascimento'] = alunos.apply(lambda row : pd.to_datetime(row['dt_nascimento']) , axis = 1)

In [3]:
alunos['data_entrega_atividade_1'] = alunos.apply(lambda row : pd.to_datetime(row['data_entrega_atividade_1']) , axis = 1) 
alunos['data_entrega_atividade_2'] = alunos.apply(lambda row : pd.to_datetime(row['data_entrega_atividade_2']) , axis = 1) 
alunos['data_entrega_atividade_3'] = alunos.apply(lambda row : pd.to_datetime(row['data_entrega_atividade_3']) , axis = 1) 
alunos['data_entrega_atividade_4'] = alunos.apply(lambda row : pd.to_datetime(row['data_entrega_atividade_4']) , axis = 1) 
alunos['data_entrega_atividade_5'] = alunos.apply(lambda row : pd.to_datetime(row['data_entrega_atividade_5']) , axis = 1) 
alunos['data_entrega_atividade_6'] = alunos.apply(lambda row : pd.to_datetime(row['data_entrega_atividade_6']) , axis = 1) 
alunos['data_entrega_atividade_7'] = alunos.apply(lambda row : pd.to_datetime(row['data_entrega_atividade_7']) , axis = 1) 
alunos['data_entrega_atividade_8'] = alunos.apply(lambda row : pd.to_datetime(row['data_entrega_atividade_8']) , axis = 1) 
alunos['data_entrega_atividade_9'] = alunos.apply(lambda row : pd.to_datetime(row['data_entrega_atividade_9']) , axis = 1) 
alunos['data_entrega_atividade_10'] = alunos.apply(lambda row : pd.to_datetime(row['data_entrega_atividade_10']) , axis = 1) 
alunos['data_entrega_atividade_11'] = alunos.apply(lambda row : pd.to_datetime(row['data_entrega_atividade_11']) , axis = 1) 
alunos['data_entrega_atividade_12'] = alunos.apply(lambda row : pd.to_datetime(row['data_entrega_atividade_12']) , axis = 1) 
alunos['data_entrega_atividade_13'] = alunos.apply(lambda row : pd.to_datetime(row['data_entrega_atividade_13']) , axis = 1) 
alunos['data_entrega_atividade_14'] = alunos.apply(lambda row : pd.to_datetime(row['data_entrega_atividade_14']) , axis = 1) 
alunos['data_entrega_atividade_15'] = alunos.apply(lambda row : pd.to_datetime(row['data_entrega_atividade_15']) , axis = 1) 
alunos['data_entrega_atividade_16'] = alunos.apply(lambda row : pd.to_datetime(row['data_entrega_atividade_16']) , axis = 1) 
alunos['data_entrega_atividade_17'] = alunos.apply(lambda row : pd.to_datetime(row['data_entrega_atividade_17']) , axis = 1) 
alunos['data_entrega_atividade_18'] = alunos.apply(lambda row : pd.to_datetime(row['data_entrega_atividade_18']) , axis = 1)

In [4]:
alunos

,∩╗┐index,id_inscricao,dt_inscricao,dt_fim_inscricao,tx_nome_aluno,sg_uf,tp_sexo,dt_nascimento,sg_pais,id_oferta_x,id_curso,qt_carga_horaria_oferta,qt_duracao_dias,tx_nome_orgao,sit_matricula,tp_servidor_militar_cidadao,tp_poder_execut_legisl_judic,esfera,idade,churn,id_oferta_y,id_pessoa,nota_maxima_curso,nota_final_aluno_curso,data_termino_curso_aluno,nota_maxima_atividade_1,nota_aluno_atividade_1,data_entrega_atividade_1,nota_maxima_atividade_2,nota_aluno_atividade_2,data_entrega_atividade_2,nota_maxima_atividade_3,nota_aluno_atividade_3,data_entrega_atividade_3,nota_maxima_atividade_4,nota_aluno_atividade_4,data_entrega_atividade_4,nota_maxima_atividade_5,nota_aluno_atividade_5,data_entrega_atividade_5,nota_maxima_atividade_6,nota_aluno_atividade_6,data_entrega_atividade_6,nota_maxima_atividade_7,nota_aluno_atividade_7,data_entrega_atividade_7,nota_maxima_atividade_8,nota_aluno_atividade_8,data_entrega_atividade_8,nota_maxima_atividade_9,nota_aluno_atividade_9,data_entrega_atividade_9,nota_maxima_atividade_10,nota_aluno_atividade_10,data_entrega_atividade_10,nota_maxima_atividade_11,nota_aluno_atividade_11,data_entrega_atividade_11,nota_maxima_atividade_12,nota_aluno_atividade_12,data_entrega_atividade_12,nota_maxima_atividade_13,nota_aluno_atividade_13,data_entrega_atividade_13,nota_maxima_atividade_14,nota_aluno_atividade_14,data_entrega_atividade_14,nota_maxima_atividade_15,nota_aluno_atividade_15,data_entrega_atividade_15,nota_maxima_atividade_16,nota_aluno_atividade_16,data_entrega_atividade_16,nota_maxima_atividade_17,nota_aluno_atividade_17,data_entrega_atividade_17,nota_maxima_atividade_18,nota_aluno_atividade_18,data_entrega_atividade_18
0,0,92,2018-02-19 00:00:00,2018-03-12 07:42:00,Raylle Hostalacio de Pinho Tavares,MG,F,1958-07-28,NaN,26,74,20,30,NaN,APROVADO,S,E,E,59,False,26,448556,100.0,95.24050,2018-03-07 08:05:50,100.0,100.0,2018-02-20 08:58:57,100.0,100.0,2018-02-20 09:07:44,100.0,100.0,2018-03-07 07:29:17,100.0,100.0,2018-02-21 08:05:49,100.0,100.0,2018-02-22 07:56:43,100.0,100.00,2018-02-22 08:08:30,100.0,100.0,2018-02-23 07:24:35,100.0,100.0,2018-02-23 07:55:10,100.0,100.00,2018-02-23 08:30:46,100.0,83.33,2018-03-07 07:46:43,100.0,77.78,2018-03-07 08:05:50,100.0,83.33,2018-02-28 08:22:58,100.0,100.0,2018-03-01 07:59:11,100.0,90.0,2018-03-02 08:03:11,100.0,100.00,2018-03-02 08:30:38,100.0,88.89,2018-03-05 07:40:28,100.0,100.00,2018-03-06 07:42:09,100.0,100.0,2018-07-03 07:18:59
1,1,94,2018-02-19 00:00:00,2018-03-12 07:59:00,HENRICLAY CERNADAS PEREIRA,RJ,M,1973-06-15,NaN,26,74,20,30,Universidade Federal Fluminense,ABANDONO,S,E,F,44,True,26,180937,100.0,NaN,NaN,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT
2,2,97,2018-02-19 00:00:00,2018-03-12 08:44:00,THAIS AMARAL COUTINHO,MG,F,1949-06-19,NaN,26,74,20,30,NaN,APROVADO,S,E,E,68,False,26,448559,100.0,100.00000,2018-03-04 09:10:30,100.0,100.0,2018-03-03 07:16:18,100.0,100.0,2018-02-19 19:30:28,100.0,100.0,2018-03-03 07:52:42,100.0,100.0,2018-03-03 08:05:55,100.0,100.0,2018-03-03 08:25:40,100.0,100.00,2018-03-03 08:38:47,100.0,100.0,2018-03-03 09:12:31,100.0,100.0,2018-03-03 09:34:45,100.0,100.00,2018-03-03 10:22:06,100.0,100.00,2018-03-03 13:34:16,100.0,100.00,2018-03-03 14:12:16,100.0,100.00,2018-03-03 14:42:09,100.0,100.0,2018-03-03 15:04:13,100.0,100.0,2018-03-03 19:23:30,100.0,100.00,2018-03-03 19:35:08,100.0,100.00,2018-03-04 08:13:14,100.0,100.00,2018-03-04 08:36:16,100.0,100.0,2018-04-03 09:10:30
3,3,106,2018-02-19 00:00:00,2018-03-12 09:45:00,Thiago vieira Medeiros,DF,M,1984-10-07,NaN,26,74,20,30,NaN,APROVADO,C,NaN,NaN,33,False,26,448565,100.0,92.40583,2018-02-22 18:55:09,100.0,80.0,2018-02-19 14:54:34,100.0,100.0,2018-02-19 14:59:45,100.0,75.0,2018-02-20 09:35:52,100.0,100.0,2018-02-20 09:46:59,100.0,100.0,2018-02-20 10:15:30,100.0,85.71,2018-02-20 10:24:47,100.0,100.0,2018-02-20 11:02:26,100.0,100.0,2018-02-20 15:27:39,100.0,100.00,2018-02-20 15:54:38,100.0,75.00,2018-02-20 16:32:29,100.0,88.89,2018-02-20 16:51:58,100.0,83.33,2018-02-20 17:10:20,100.0,100.0,2018-02-21 09:59:34,100.0,100.0,2018-02-21 10:19:07,100.0,100.00,2018-02-21 10:31:29,100.0,77.78,2018-02-22 18:35:25,100.0,100.00,2018-02-22 18:45:12,100.0,100.0,2018-02-22 18:55:09
4,4,109,2018-02-19 00:00:00,2018-03-12 10:08:00,Ana Maria Ribeiro Moraes,TO,F,1978-04-13,NaN,26,74,20,30,NaN,APROVADO,E,NaN,F,39,False,26,448567,100.0,87.77767,2018-02-24 16:59:22,100.0,100.0,2018-02-22 10:44:40,100.0,0.0,2018-02-22 10:56:48,100.0,75.0,2018-02-22 11:51:20,100.0,100.0,2018-02-22 12:17:51,100.0,100.0,2018-02-22 14:32:47,100.0,100.00,2018-02-22 15:40:28,100.0,90.0,2018-02-22 16:20:36,100.0,100.0,2018-02-22 17:00:11,100.0,94.74,2018-02-22 18:03:53,100.0,91.67,2018-02-23 12:34:35,100.0,88.89,2018-02-23 13:44:41,100.0,100.00,2018-02-23 14:24:45,100.0,100.0,2018-02-23 15:04:04,100.0,80.0,2018-02-23 17:39:32,100.0,83.33,2018-02-24 15:10:40,100.0,77.78,2018-02-24 16:18:17,100.0,85.71,2018-02-24 16:43:16,100.0,100.0,2018-02-24 16:59:22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79609,79609,553927,2019-02-27 22:39:00,2019-03-29 23:59:00,lidiane carvalho gontijo,MG,F,1978-12-22,BR,852,74,20,30,Empresa Brasileira de Servi├ºos Hospitalares,CERTIFICADO,E,NaN,F,40,False,852,699857,100.0,84.11033,2019-02-28 01:07:09,100.0,100.0,2019-02-27 23:32:41,100.0,100.0,2019-02-27 23:35:11,100.0,75.0,2019-02-27 23:38:22,100.0,80.0,2019-02-27 23:42:01,100.0,100.0,2019-02-27 23:45:46,100.0,85.71,2019-02-27 23:48:51,100.0,100.0,2019-02-27 23:52:56,100.0,100.0,2019-02-27 23:55:40,100.0,94.74,2019-02-28 00:03:37,100.0,50.00,2019-02-28 00:10:38,100.0,22.22,2019-02-28 00:18:49,100.0,83.33,2019-02-28 00:24:30,100.0,80.0,2019-02-28 00:27:16,100.0,100.0,2019-02-28 00:51:53,100.0,83.33,2019-02-28 00:54:55,100.0,77.78,2019-02-28 00:59:27,100.0,100.00,2019-02-28 01:03:31,100.0,100.0,2019-02-28 01:07:05
79610,79610,553937,2019-02-27 22:37:00,2019-03-29 23:59:00,anair soares da costa,RN,F,1967-05-20,BR,852,74,20,30,Universidade Federal do Rio Grande do Norte,ABANDONO,S,E,F,51,True,852,710521,100.0,NaN,NaN,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT
79611,79611,553995,2019-02-27 23:57:00,2019-03-29 23:59:00,ADEILTON AMADO SILVA DOS SANTOS,AL,M,1981-08-02,BR,852,74,20,30,Pol├¡cia Militar,ABANDONO,M,NaN,E,37,True,852,685074,100.0,NaN,NaN,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT
79612,79612,554003,2019-02-27 23:57:00,2019-03-29 23:59:00,ROBSON PEREIRA DA SILVA,PE,M,1983-11-20,BR,852,74,20,30,Pol├¡cia Militar,DESISTENTE,M,NaN,E,35,True,852,710565,100.0,38.33333,2019-03-14 11:17:24,100.0,100.0,2019-03-09 11:52:03,100.0,100.0,2019-03-09 12:05:27,100.0,100.0,2019-03-12 02:53:57,100.0,100.0,2019-03-12 12:10:05,100.0,100.0,2019-03-13 11:12:12,100.0,NaN,NaT,100.0,100.0,2019-03-14 10:41:26,100.0,100.0,2019-03-14 11:17:24,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT
79613,79613,554006,2019-02-28 00:01:00,2019-03-30 23:59:00,MARIA FLAVIA SANTOS DE OLIVEIRA,RN,F,1975-01-30,BR,852,74,20,30,Universidade Federal do Rio Grande do Norte,ABANDONO,S,E,F,44,True,852,710529,100.0,NaN,NaN,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT

In [5]:
alunos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79614 entries, 0 to 79613
Data columns (total 79 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ∩╗┐index                      79614 non-null  int64
 1   id_inscricao                  79614 non-null  int64
 2   dt_inscricao                  79614 non-null  datetime64[ns]
 3   dt_fim_inscricao              79614 non-null  datetime64[ns]
 4   tx_nome_aluno                 79614 non-null  object
 5   sg_uf                         79107 non-null  object
 6   tp_sexo                       79614 non-null  object
 7   dt_nascimento                 79614 non-null  datetime64[ns]
 8   sg_pais                       67871 non-null  object
 9   id_oferta_x                   79614 non-null  int64
 10  id_curso                      79614 non-null  int64
 11  qt_carga_horaria_oferta       79614 non-null  int64
 12  qt_duracao_dias               79614 non-null  int64
 13  tx_nome_orgao                 35328 non-null  object
 14  sit_matricula                 79614 non-null  object
 15  tp_servidor_militar_cidadao   79614 non-null  object
 16  tp_poder_execut_legisl_judic  43969 non-null  object
 17  esfera                        71458 non-null  object
 18  idade                         79614 non-null  int64
 19  churn                         79614 non-null  bool
 20  id_oferta_y                   79614 non-null  int64
 21  id_pessoa                     79614 non-null  int64
 22  nota_maxima_curso             79614 non-null  float64
 23  nota_final_aluno_curso        52523 non-null  float64
 24  data_termino_curso_aluno      52523 non-null  object
 25  nota_maxima_atividade_1       79614 non-null  float64
 26  nota_aluno_atividade_1        52408 non-null  float64
 27  data_entrega_atividade_1      52408 non-null  datetime64[ns]
 28  nota_maxima_atividade_2       79614 non-null  float64
 29  nota_aluno_atividade_2        52255 non-null  float64
 30  data_entrega_atividade_2      52255 non-null  datetime64[ns]
 31  nota_maxima_atividade_3       79614 non-null  float64
 32  nota_aluno_atividade_3        52134 non-null  float64
 33  data_entrega_atividade_3      52134 non-null  datetime64[ns]
 34  nota_maxima_atividade_4       79614 non-null  float64
 35  nota_aluno_atividade_4        51971 non-null  float64
 36  data_entrega_atividade_4      51971 non-null  datetime64[ns]
 37  nota_maxima_atividade_5       79614 non-null  float64
 38  nota_aluno_atividade_5        51946 non-null  float64
 39  data_entrega_atividade_5      51946 non-null  datetime64[ns]
 40  nota_maxima_atividade_6       79614 non-null  float64
 41  nota_aluno_atividade_6        51859 non-null  float64
 42  data_entrega_atividade_6      51859 non-null  datetime64[ns]
 43  nota_maxima_atividade_7       79614 non-null  float64
 44  nota_aluno_atividade_7        51785 non-null  float64
 45  data_entrega_atividade_7      51785 non-null  datetime64[ns]
 46  nota_maxima_atividade_8       79614 non-null  float64
 47  nota_aluno_atividade_8        51726 non-null  float64
 48  data_entrega_atividade_8      51726 non-null  datetime64[ns]
 49  nota_maxima_atividade_9       79614 non-null  float64
 50  nota_aluno_atividade_9        51648 non-null  float64
 51  data_entrega_atividade_9      51648 non-null  datetime64[ns]
 52  nota_maxima_atividade_10      79614 non-null  float64
 53  nota_aluno_atividade_10       51668 non-null  float64
 54  data_entrega_atividade_10     51668 non-null  datetime64[ns]
 55  nota_maxima_atividade_11      79614 non-null  float64
 56  nota_aluno_atividade_11       51274 non-null  float64
 57  data_entrega_atividade_11     51274 non-null  datetime64[ns]
 58  nota_maxima_atividade_12      79614 non-null  float64
 59  nota_aluno_atividade_12       51283 non-null  float64
 60  data_entrega_atividade_12     51283 non-null  datetime64[ns]
 61  nota_maxima_atividade_13      79614 non-null  float64
 62  nota_aluno_atividade_13       50698 non-null  float64
 63  data_entrega_atividade_13     50698 non-null  datetime64[ns]
 64  nota_maxima_atividade_14      79614 non-null  float64
 65  nota_aluno_atividade_14       50145 non-null  float64
 66  data_entrega_atividade_14     50145 non-null  datetime64[ns]
 67  nota_maxima_atividade_15      79614 non-null  float64
 68  nota_aluno_atividade_15       49775 non-null  float64
 69  data_entrega_atividade_15     49775 non-null  datetime64[ns]
 70  nota_maxima_atividade_16      79614 non-null  float64
 71  nota_aluno_atividade_16       49138 non-null  float64
 72  data_entrega_atividade_16     49138 non-null  datetime64[ns]
 73  nota_maxima_atividade_17      79614 non-null  float64
 74  nota_aluno_atividade_17       48733 non-null  float64
 75  data_entrega_atividade_17     48733 non-null  datetime64[ns]
 76  nota_maxima_atividade_18      79614 non-null  float64
 77  nota_aluno_atividade_18       48473 non-null  float64
 78  data_entrega_atividade_18     48473 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](21), float64(38), int64(9), object(10)
memory usage: 47.5+ MB

In [6]:
alunos.isnull().sum()

∩╗┐index                            0
id_inscricao                        0
dt_inscricao                        0
dt_fim_inscricao                    0
tx_nome_aluno                       0
sg_uf                             507
tp_sexo                             0
dt_nascimento                       0
sg_pais                         11743
id_oferta_x                         0
id_curso                            0
qt_carga_horaria_oferta             0
qt_duracao_dias                     0
tx_nome_orgao                   44286
sit_matricula                       0
tp_servidor_militar_cidadao         0
tp_poder_execut_legisl_judic    35645
esfera                           8156
idade                               0
churn                               0
id_oferta_y                         0
id_pessoa                           0
nota_maxima_curso                   0
nota_final_aluno_curso          27091
data_termino_curso_aluno        27091
nota_maxima_atividade_1             0
nota_aluno_atividade_1          27206
data_entrega_atividade_1        27206
nota_maxima_atividade_2             0
nota_aluno_atividade_2          27359
data_entrega_atividade_2        27359
nota_maxima_atividade_3             0
nota_aluno_atividade_3          27480
data_entrega_atividade_3        27480
nota_maxima_atividade_4             0
nota_aluno_atividade_4          27643
data_entrega_atividade_4        27643
nota_maxima_atividade_5             0
nota_aluno_atividade_5          27668
data_entrega_atividade_5        27668
nota_maxima_atividade_6             0
nota_aluno_atividade_6          27755
data_entrega_atividade_6        27755
nota_maxima_atividade_7             0
nota_aluno_atividade_7          27829
data_entrega_atividade_7        27829
nota_maxima_atividade_8             0
nota_aluno_atividade_8          27888
data_entrega_atividade_8        27888
nota_maxima_atividade_9             0
nota_aluno_atividade_9          27966
data_entrega_atividade_9        27966
nota_maxima_atividade_10            0
nota_aluno_atividade_10         27946
data_entrega_atividade_10       27946
nota_maxima_atividade_11            0
nota_aluno_atividade_11         28340
data_entrega_atividade_11       28340
nota_maxima_atividade_12            0
nota_aluno_atividade_12         28331
data_entrega_atividade_12       28331
nota_maxima_atividade_13            0
nota_aluno_atividade_13         28916
data_entrega_atividade_13       28916
nota_maxima_atividade_14            0
nota_aluno_atividade_14         29469
data_entrega_atividade_14       29469
nota_maxima_atividade_15            0
nota_aluno_atividade_15         29839
data_entrega_atividade_15       29839
nota_maxima_atividade_16            0
nota_aluno_atividade_16         30476
data_entrega_atividade_16       30476
nota_maxima_atividade_17            0
nota_aluno_atividade_17         30881
data_entrega_atividade_17       30881
nota_maxima_atividade_18            0
nota_aluno_atividade_18         31141
data_entrega_atividade_18       31141
dtype: int64

In [7]:
alunos['dt_fim_inscricao'].min()

Timestamp('2018-03-12 07:42:00')

In [8]:
alunos['dt_fim_inscricao'].max()

Timestamp('2019-03-30 23:59:00')

In [9]:
(alunos.index)

RangeIndex(start=0, stop=79614, step=1)

In [10]:
#Calculo da idade (dt_inscricao - dt_nascimento)

alunos['idade'] = alunos.apply(lambda x: relativedelta.relativedelta(x['dt_inscricao'],x['dt_nascimento']).years, axis=1)

In [11]:
#Esxistiam alunos com data de nascimento absurda
#Tais alunos receberam idade zerada

alunos.loc[alunos["idade"] > 100,'idade'] = 0

In [12]:
alunos['sg_uf'].unique()

array(['MG', 'RJ', 'DF', 'TO', 'SP', 'MS', 'PA', 'CE', 'AM', 'AL', 'GO',
       'PI', 'PE', nan, 'PR', 'BA', 'PB', 'MA', 'AC', 'SC', 'ES', 'RS',
       'SE', 'RN', 'RO', 'MT', 'AP', 'RR'], dtype=object)

In [13]:
alunos["sit_matricula"].unique()

array(['APROVADO', 'ABANDONO', 'CERTIFICADO', 'CANC_DESISTENTE',
       'REPROVADO', 'DESISTENTE'], dtype=object)

In [14]:
#Para efeito de classificação, o conjunto de dados foi separado entre os alunos que terminaram o curso e os
# que abandonaram, uma vez que o objetivo é evitar evasão.

#CANC_DESISTENTE
alunos = alunos[alunos["sit_matricula"] != 'EM_CURSO']
alunos.loc[alunos["sit_matricula"]=='ABANDONO','churn'] = True
alunos.loc[alunos["sit_matricula"]=='DESISTENTE','churn'] = True
alunos.loc[alunos["sit_matricula"]=='CANC_DESISTENTE','churn'] = True
alunos.loc[alunos["churn"]!=True,'churn'] = False

In [15]:
#Distribuição dos alunos quanto abandono.

alunos.groupby(["churn"]).size().plot(kind='bar')

In [16]:
alunos.columns

Index(['∩╗┐index', 'id_inscricao', 'dt_inscricao', 'dt_fim_inscricao',
       'tx_nome_aluno', 'sg_uf', 'tp_sexo', 'dt_nascimento', 'sg_pais',
       'id_oferta_x', 'id_curso', 'qt_carga_horaria_oferta', 'qt_duracao_dias',
       'tx_nome_orgao', 'sit_matricula', 'tp_servidor_militar_cidadao',
       'tp_poder_execut_legisl_judic', 'esfera', 'idade', 'churn',
       'id_oferta_y', 'id_pessoa', 'nota_maxima_curso',
       'nota_final_aluno_curso', 'data_termino_curso_aluno',
       'nota_maxima_atividade_1', 'nota_aluno_atividade_1',
       'data_entrega_atividade_1', 'nota_maxima_atividade_2',
       'nota_aluno_atividade_2', 'data_entrega_atividade_2',
       'nota_maxima_atividade_3', 'nota_aluno_atividade_3',
       'data_entrega_atividade_3', 'nota_maxima_atividade_4',
       'nota_aluno_atividade_4', 'data_entrega_atividade_4',
       'nota_maxima_atividade_5', 'nota_aluno_atividade_5',
       'data_entrega_atividade_5', 'nota_maxima_atividade_6',
       'nota_aluno_atividade_6', 'data_entrega_atividade_6',
       'nota_maxima_atividade_7', 'nota_aluno_atividade_7',
       'data_entrega_atividade_7', 'nota_maxima_atividade_8',
       'nota_aluno_atividade_8', 'data_entrega_atividade_8',
       'nota_maxima_atividade_9', 'nota_aluno_atividade_9',
       'data_entrega_atividade_9', 'nota_maxima_atividade_10',
       'nota_aluno_atividade_10', 'data_entrega_atividade_10',
       'nota_maxima_atividade_11', 'nota_aluno_atividade_11',
       'data_entrega_atividade_11', 'nota_maxima_atividade_12',
       'nota_aluno_atividade_12', 'data_entrega_atividade_12',
       'nota_maxima_atividade_13', 'nota_aluno_atividade_13',
       'data_entrega_atividade_13', 'nota_maxima_atividade_14',
       'nota_aluno_atividade_14', 'data_entrega_atividade_14',
       'nota_maxima_atividade_15', 'nota_aluno_atividade_15',
       'data_entrega_atividade_15', 'nota_maxima_atividade_16',
       'nota_aluno_atividade_16', 'data_entrega_atividade_16',
       'nota_maxima_atividade_17', 'nota_aluno_atividade_17',
       'data_entrega_atividade_17', 'nota_maxima_atividade_18',
       'nota_aluno_atividade_18', 'data_entrega_atividade_18'],
      dtype='object')

In [17]:
alunos['servidor'] = 1
alunos.loc[alunos['tx_nome_orgao'][alunos['tx_nome_orgao'].apply(type) == float].index, 'servidor'] = 0

In [18]:
alunos[['tx_nome_orgao','servidor']]

                                      tx_nome_orgao  servidor
0                                               NaN         0
1                   Universidade Federal Fluminense         1
2                                               NaN         0
3                                               NaN         0
4                                               NaN         0
...                                             ...       ...
79609  Empresa Brasileira de Servi├ºos Hospitalares         1
79610   Universidade Federal do Rio Grande do Norte         1
79611                              Pol├¡cia Militar         1
79612                              Pol├¡cia Militar         1
79613   Universidade Federal do Rio Grande do Norte         1

[79614 rows x 2 columns]

In [19]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(alunos, alunos['churn'], test_size=0.3, random_state=1)

In [20]:
#X_train['outlier'] = yhat
X_train['churn'] = y_train
df_train =X_train

X_test['churn'] = y_test

C:\Users\hiche\AppData\Local\Temp/ipykernel_2132/4151368917.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['churn'] = y_train
C:\Users\hiche\AppData\Local\Temp/ipykernel_2132/4151368917.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['churn'] = y_test

In [21]:
from pycaret.classification import *

s = setup(data = df_train[['sg_uf', 
'tp_sexo', 
'sg_pais',  
'id_curso', 
'qt_carga_horaria_oferta', 
'qt_duracao_dias', 
'servidor',
'tp_servidor_militar_cidadao',
'tp_poder_execut_legisl_judic', 
'esfera', 
'idade',
'churn']],test_data = X_test, target = 'churn', session_id=123,fix_imbalance=True,feature_selection = True,
                                                         )

In [24]:
best_model = compare_models()

In [24]:
dt_1 = create_model('lightgbm')

In [23]:
%matplotlib inline
%config InlineBackend.figure_format = 'svg'
evaluate_model(dt_1)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [26]:
interpret_model(dt_1)

In [19]:
alunos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79614 entries, 0 to 79613
Data columns (total 80 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ∩╗┐index                      79614 non-null  int64
 1   id_inscricao                  79614 non-null  int64
 2   dt_inscricao                  79614 non-null  datetime64[ns]
 3   dt_fim_inscricao              79614 non-null  datetime64[ns]
 4   tx_nome_aluno                 79614 non-null  object
 5   sg_uf                         79107 non-null  object
 6   tp_sexo                       79614 non-null  object
 7   dt_nascimento                 79614 non-null  datetime64[ns]
 8   sg_pais                       67871 non-null  object
 9   id_oferta_x                   79614 non-null  int64
 10  id_curso                      79614 non-null  int64
 11  qt_carga_horaria_oferta       79614 non-null  int64
 12  qt_duracao_dias               79614 non-null  int64
 13  tx_nome_orgao                 35328 non-null  object
 14  sit_matricula                 79614 non-null  object
 15  tp_servidor_militar_cidadao   79614 non-null  object
 16  tp_poder_execut_legisl_judic  43969 non-null  object
 17  esfera                        71458 non-null  object
 18  idade                         79614 non-null  int64
 19  churn                         79614 non-null  bool
 20  id_oferta_y                   79614 non-null  int64
 21  id_pessoa                     79614 non-null  int64
 22  nota_maxima_curso             79614 non-null  float64
 23  nota_final_aluno_curso        52523 non-null  float64
 24  data_termino_curso_aluno      52523 non-null  object
 25  nota_maxima_atividade_1       79614 non-null  float64
 26  nota_aluno_atividade_1        52408 non-null  float64
 27  data_entrega_atividade_1      52408 non-null  datetime64[ns]
 28  nota_maxima_atividade_2       79614 non-null  float64
 29  nota_aluno_atividade_2        52255 non-null  float64
 30  data_entrega_atividade_2      52255 non-null  datetime64[ns]
 31  nota_maxima_atividade_3       79614 non-null  float64
 32  nota_aluno_atividade_3        52134 non-null  float64
 33  data_entrega_atividade_3      52134 non-null  datetime64[ns]
 34  nota_maxima_atividade_4       79614 non-null  float64
 35  nota_aluno_atividade_4        51971 non-null  float64
 36  data_entrega_atividade_4      51971 non-null  datetime64[ns]
 37  nota_maxima_atividade_5       79614 non-null  float64
 38  nota_aluno_atividade_5        51946 non-null  float64
 39  data_entrega_atividade_5      51946 non-null  datetime64[ns]
 40  nota_maxima_atividade_6       79614 non-null  float64
 41  nota_aluno_atividade_6        51859 non-null  float64
 42  data_entrega_atividade_6      51859 non-null  datetime64[ns]
 43  nota_maxima_atividade_7       79614 non-null  float64
 44  nota_aluno_atividade_7        51785 non-null  float64
 45  data_entrega_atividade_7      51785 non-null  datetime64[ns]
 46  nota_maxima_atividade_8       79614 non-null  float64
 47  nota_aluno_atividade_8        51726 non-null  float64
 48  data_entrega_atividade_8      51726 non-null  datetime64[ns]
 49  nota_maxima_atividade_9       79614 non-null  float64
 50  nota_aluno_atividade_9        51648 non-null  float64
 51  data_entrega_atividade_9      51648 non-null  datetime64[ns]
 52  nota_maxima_atividade_10      79614 non-null  float64
 53  nota_aluno_atividade_10       51668 non-null  float64
 54  data_entrega_atividade_10     51668 non-null  datetime64[ns]
 55  nota_maxima_atividade_11      79614 non-null  float64
 56  nota_aluno_atividade_11       51274 non-null  float64
 57  data_entrega_atividade_11     51274 non-null  datetime64[ns]
 58  nota_maxima_atividade_12      79614 non-null  float64
 59  nota_aluno_atividade_12       51283 non-null  float64
 60  data_entrega_atividade_12     51283 non-null  datetime64[ns]
 61  nota_maxima_atividade_13      79614 non-null  float64
 62  nota_aluno_atividade_13       50698 non-null  float64
 63  data_entrega_atividade_13     50698 non-null  datetime64[ns]
 64  nota_maxima_atividade_14      79614 non-null  float64
 65  nota_aluno_atividade_14       50145 non-null  float64
 66  data_entrega_atividade_14     50145 non-null  datetime64[ns]
 67  nota_maxima_atividade_15      79614 non-null  float64
 68  nota_aluno_atividade_15       49775 non-null  float64
 69  data_entrega_atividade_15     49775 non-null  datetime64[ns]
 70  nota_maxima_atividade_16      79614 non-null  float64
 71  nota_aluno_atividade_16       49138 non-null  float64
 72  data_entrega_atividade_16     49138 non-null  datetime64[ns]
 73  nota_maxima_atividade_17      79614 non-null  float64
 74  nota_aluno_atividade_17       48733 non-null  float64
 75  data_entrega_atividade_17     48733 non-null  datetime64[ns]
 76  nota_maxima_atividade_18      79614 non-null  float64
 77  nota_aluno_atividade_18       48473 non-null  float64
 78  data_entrega_atividade_18     48473 non-null  datetime64[ns]
 79  servidor                      79614 non-null  int64
dtypes: bool(1), datetime64[ns](21), float64(38), int64(10), object(10)
memory usage: 50.7+ MB

In [20]:
#Calculo do número do dia em que as atividades foram feitas em relação a data de inscrição
alunos['dia_atividade_1'] = alunos['data_entrega_atividade_1'].sub(alunos['dt_inscricao'], axis=0).astype('timedelta64[D]')
alunos['dia_atividade_2'] = alunos['data_entrega_atividade_2'].sub(alunos['dt_inscricao'], axis=0).astype('timedelta64[D]')
alunos['dia_atividade_3'] = alunos['data_entrega_atividade_3'].sub(alunos['dt_inscricao'], axis=0).astype('timedelta64[D]')
alunos['dia_atividade_4'] = alunos['data_entrega_atividade_4'].sub(alunos['dt_inscricao'], axis=0).astype('timedelta64[D]')
alunos['dia_atividade_5'] = alunos['data_entrega_atividade_5'].sub(alunos['dt_inscricao'], axis=0).astype('timedelta64[D]')
alunos['dia_atividade_6'] = alunos['data_entrega_atividade_6'].sub(alunos['dt_inscricao'], axis=0).astype('timedelta64[D]')
alunos['dia_atividade_7'] = alunos['data_entrega_atividade_7'].sub(alunos['dt_inscricao'], axis=0).astype('timedelta64[D]')
alunos['dia_atividade_8'] = alunos['data_entrega_atividade_8'].sub(alunos['dt_inscricao'], axis=0).astype('timedelta64[D]')
alunos['dia_atividade_9'] = alunos['data_entrega_atividade_9'].sub(alunos['dt_inscricao'], axis=0).astype('timedelta64[D]')
alunos['dia_atividade_10'] = alunos['data_entrega_atividade_10'].sub(alunos['dt_inscricao'], axis=0).astype('timedelta64[D]')
alunos['dia_atividade_11'] = alunos['data_entrega_atividade_11'].sub(alunos['dt_inscricao'], axis=0).astype('timedelta64[D]')
alunos['dia_atividade_12'] = alunos['data_entrega_atividade_12'].sub(alunos['dt_inscricao'], axis=0).astype('timedelta64[D]')
alunos['dia_atividade_13'] = alunos['data_entrega_atividade_13'].sub(alunos['dt_inscricao'], axis=0).astype('timedelta64[D]')
alunos['dia_atividade_14'] = alunos['data_entrega_atividade_14'].sub(alunos['dt_inscricao'], axis=0).astype('timedelta64[D]')
alunos['dia_atividade_15'] = alunos['data_entrega_atividade_15'].sub(alunos['dt_inscricao'], axis=0).astype('timedelta64[D]')
alunos['dia_atividade_16'] = alunos['data_entrega_atividade_16'].sub(alunos['dt_inscricao'], axis=0).astype('timedelta64[D]')
alunos['dia_atividade_17'] = alunos['data_entrega_atividade_17'].sub(alunos['dt_inscricao'], axis=0).astype('timedelta64[D]')
alunos['dia_atividade_18'] = alunos['data_entrega_atividade_18'].sub(alunos['dt_inscricao'], axis=0).astype('timedelta64[D]')
alunos['prazo'] = alunos['dt_fim_inscricao'].sub(alunos['dt_inscricao'], axis=0).astype('timedelta64[D]')


alunos.head(50)

,∩╗┐index,id_inscricao,dt_inscricao,dt_fim_inscricao,tx_nome_aluno,sg_uf,tp_sexo,dt_nascimento,sg_pais,id_oferta_x,id_curso,qt_carga_horaria_oferta,qt_duracao_dias,tx_nome_orgao,sit_matricula,tp_servidor_militar_cidadao,tp_poder_execut_legisl_judic,esfera,idade,churn,id_oferta_y,id_pessoa,nota_maxima_curso,nota_final_aluno_curso,data_termino_curso_aluno,nota_maxima_atividade_1,nota_aluno_atividade_1,data_entrega_atividade_1,nota_maxima_atividade_2,nota_aluno_atividade_2,data_entrega_atividade_2,nota_maxima_atividade_3,nota_aluno_atividade_3,data_entrega_atividade_3,nota_maxima_atividade_4,nota_aluno_atividade_4,data_entrega_atividade_4,nota_maxima_atividade_5,nota_aluno_atividade_5,data_entrega_atividade_5,nota_maxima_atividade_6,nota_aluno_atividade_6,data_entrega_atividade_6,nota_maxima_atividade_7,nota_aluno_atividade_7,data_entrega_atividade_7,nota_maxima_atividade_8,nota_aluno_atividade_8,data_entrega_atividade_8,nota_maxima_atividade_9,nota_aluno_atividade_9,data_entrega_atividade_9,nota_maxima_atividade_10,nota_aluno_atividade_10,data_entrega_atividade_10,nota_maxima_atividade_11,nota_aluno_atividade_11,data_entrega_atividade_11,nota_maxima_atividade_12,nota_aluno_atividade_12,data_entrega_atividade_12,nota_maxima_atividade_13,nota_aluno_atividade_13,data_entrega_atividade_13,nota_maxima_atividade_14,nota_aluno_atividade_14,data_entrega_atividade_14,nota_maxima_atividade_15,nota_aluno_atividade_15,data_entrega_atividade_15,nota_maxima_atividade_16,nota_aluno_atividade_16,data_entrega_atividade_16,nota_maxima_atividade_17,nota_aluno_atividade_17,data_entrega_atividade_17,nota_maxima_atividade_18,nota_aluno_atividade_18,data_entrega_atividade_18,servidor,dia_atividade_1,dia_atividade_2,dia_atividade_3,dia_atividade_4,dia_atividade_5,dia_atividade_6,dia_atividade_7,dia_atividade_8,dia_atividade_9,dia_atividade_10,dia_atividade_11,dia_atividade_12,dia_atividade_13,dia_atividade_14,dia_atividade_15,dia_atividade_16,dia_atividade_17,dia_atividade_18,prazo
0,0,92,2018-02-19,2018-03-12 07:42:00,Raylle Hostalacio de Pinho Tavares,MG,F,1958-07-28,NaN,26,74,20,30,NaN,APROVADO,S,E,E,59,False,26,448556,100.0,95.24050,2018-03-07 08:05:50,100.0,100.0,2018-02-20 08:58:57,100.0,100.0,2018-02-20 09:07:44,100.0,100.0,2018-03-07 07:29:17,100.0,100.0,2018-02-21 08:05:49,100.0,100.00,2018-02-22 07:56:43,100.0,100.00,2018-02-22 08:08:30,100.0,100.0,2018-02-23 07:24:35,100.0,100.0,2018-02-23 07:55:10,100.0,100.00,2018-02-23 08:30:46,100.0,83.33,2018-03-07 07:46:43,100.0,77.78,2018-03-07 08:05:50,100.0,83.33,2018-02-28 08:22:58,100.0,100.0,2018-03-01 07:59:11,100.0,90.0,2018-03-02 08:03:11,100.0,100.00,2018-03-02 08:30:38,100.0,88.89,2018-03-05 07:40:28,100.0,100.00,2018-03-06 07:42:09,100.0,100.00,2018-07-03 07:18:59,0,1.0,1.0,16.0,2.0,3.0,3.0,4.0,4.0,4.0,16.0,16.0,9.0,10.0,11.0,11.0,14.0,15.0,134.0,21.0
1,1,94,2018-02-19,2018-03-12 07:59:00,HENRICLAY CERNADAS PEREIRA,RJ,M,1973-06-15,NaN,26,74,20,30,Universidade Federal Fluminense,ABANDONO,S,E,F,44,True,26,180937,100.0,NaN,NaN,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0
2,2,97,2018-02-19,2018-03-12 08:44:00,THAIS AMARAL COUTINHO,MG,F,1949-06-19,NaN,26,74,20,30,NaN,APROVADO,S,E,E,68,False,26,448559,100.0,100.00000,2018-03-04 09:10:30,100.0,100.0,2018-03-03 07:16:18,100.0,100.0,2018-02-19 19:30:28,100.0,100.0,2018-03-03 07:52:42,100.0,100.0,2018-03-03 08:05:55,100.0,100.00,2018-03-03 08:25:40,100.0,100.00,2018-03-03 08:38:47,100.0,100.0,2018-03-03 09:12:31,100.0,100.0,2018-03-03 09:34:45,100.0,100.00,2018-03-03 10:22:06,100.0,100.00,2018-03-03 13:34:16,100.0,100.00,2018-03-03 14:12:16,100.0,100.00,2018-03-03 14:42:09,100.0,100.0,2018-03-03 15:04:13,100.0,100.0,2018-03-03 19:23:30,100.0,100.00,2018-03-03 19:35:08,100.0,100.00,2018-03-04 08:13:14,100.0,100.00,2018-03-04 08:36:16,100.0,100.00,2018-04-03 09:10:30,0,12.0,0.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,13.0,13.0,43.0,21.0
3,3,106,2018-02-19,2018-03-12 09:45:00,Thiago vieira Medeiros,DF,M,1984-10-07,NaN,26,74,20,30,NaN,APROVADO,C,NaN,NaN,33,False,26,448565,100.0,92.40583,2018-02-22 18:55:09,100.0,80.0,2018-02-19 14:54:34,100.0,100.0,2018-02-19 14:59:45,100.0,75.0,2018-02-20 09:35:52,100.0,100.0,2018-02-20 09:46:59,100.0,100.00,2018-02-20 10:15:30,100.0,85.71,2018-02-20 10:24:47,100.0,100.0,2018-02-20 11:02:26,100.0,100.0,2018-02-20 15:27:39,100.0,100.00,2018-02-20 15:54:38,100.0,75.00,2018-02-20 16:32:29,100.0,88.89,2018-02-20 16:51:58,100.0,83.33,2018-02-20 17:10:20,100.0,100.0,2018-02-21 09:59:34,100.0,100.0,2018-02-21 10:19:07,100.0,100.00,2018-02-21 10:31:29,100.0,77.78,2018-02-22 18:35:25,100.0,100.00,2018-02-22 18:45:12,100.0,100.00,2018-02-22 18:55:09,0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,3.0,3.0,3.0,21.0
4,4,109,2018-02-19,2018-03-12 10:08:00,Ana Maria Ribeiro Moraes,TO,F,1978-04-13,NaN,26,74,20,30,NaN,APROVADO,E,NaN,F,39,False,26,448567,100.0,87.77767,2018-02-24 16:59:22,100.0,100.0,2018-02-22 10:44:40,100.0,0.0,2018-02-22 10:56:48,100.0,75.0,2018-02-22 11:51:20,100.0,100.0,2018-02-22 12:17:51,100.0,100.00,2018-02-22 14:32:47,100.0,100.00,2018-02-22 15:40:28,100.0,90.0,2018-02-22 16:20:36,100.0,100.0,2018-02-22 17:00:11,100.0,94.74,2018-02-22 18:03:53,100.0,91.67,2018-02-23 12:34:35,100.0,88.89,2018-02-23 13:44:41,100.0,100.00,2018-02-23 14:24:45,100.0,100.0,2018-02-23 15:04:04,100.0,80.0,2018-02-23 17:39:32,100.0,83.33,2018-02-24 15:10:40,100.0,77.78,2018-02-24 16:18:17,100.0,85.71,2018-02-24 16:43:16,100.0,100.00,2018-02-24 16:59:22,0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0,5.0,5.0,5.0,5.0,21.0
5,5,115,2018-02-19,2018-03-12 10:40:00,Tito Nunes de Castro,SP,M,1986-06-07,NaN,26,74,20,30,Minist├Òrio do Meio Ambiente,APROVADO,S,E,F,31,False,26,448576,100.0,98.11100,2018-02-21 11:43:23,100.0,100.0,2018-02-19 11:47:37,100.0,100.0,2018-02-19 11:53:06,100.0,100.0,2018-02-19 14:51:39,100.0,100.0,2018-02-19 15:01:43,100.0,100.00,2018-02-19 16:15:24,100.0,100.00,2018-02-19 16:25:15,100.0,100.0,2018-02-20 09:38:14,100.0,100.0,2018-02-20 09:56:05,100.0,100.00,2018-02-20 10:17:15,100.0,100.00,2018-02-20 10:38:37,100.0,100.00,2018-02-20 10:50:50,100.0,100.00,2018-02-20 11:01:51,100.0,100.0,2018-02-21 10:57:48,100.0,90.0,2018-02-21 11:09:07,100.0,83.33,2018-02-21 11:15:55,100.0,88.89,2018-02-21 11:30:43,100.0,100.00,2018-02-21 11:36:45,100.0,100.00,2018-02-21 11:43:23,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,21.0
6,6,117,2018-02-19,2018-03-12 10:47:00,J├Òssica silveira Guedes,RJ,F,1991-04-21,BR,26,74,20,30,NaN,ABANDONO,E,NaN,E,26,True,26,448580,100.0,NaN,NaN,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0
7,7,118,2018-02-19,2018-03-12 10:55:00,D├ÊBORA SILVA CARVALHO,DF,F,1982-03-17,NaN,26,74,20,30,Minist├Òrio do Meio Ambiente,APROVADO,S,E,F,35,False,26,69546,100.0,98.61100,2018-02-27 16:49:45,100.0,100.0,2018-02-20 10:39:21,100.0,100.0,2018-02-20 10:44:40,100.0,100.0,2018-02-23 15:07:50,100.0,100.0,2018-02-23 15:19:58,100.0,100.00,2018-02-23 16:09:59,100.0,100.00,2018-02-23 16:15:01,100.0,100.0,2018-02-23 16:41:59,100.0,100.0,2018-02-26 11:31:15,100.0,100.00,2018-02-26 11:46:31,100.0,100.00,2018-02-26 15:32:37,100.0,100.00,2018-02-26 15:47:07,100.0,100.00,2018-02-26 16:00:32,100.0,100.0,2018-02-27 11:08:51,100.0,100.0,2018-02-27 11:18:25,100.0,83.33,2018-02-27 11:25:43,100.0,88.89,2018-02-27 16:33:56,100.0,100.00,2018-02-27 16:43:12,100.0,100.00,2018-02-27 16:49:45,1,1.0,1.0,4.0,4.0,4.0,4.0,4.0,7.0,7.0,7.0,7.0,7.0,8.0,8.0,8.0,8.0,8.0,8.0,21.0
8,8,120,2018-02-19,2018-03-12 11:04:00,AMANDA CAMPOS DE JESUS DO CARMO,RJ,F,1986-01-24,NaN,26,74,20,30,NaN,ABANDONO,S,E,E,32,True,26,448582,100.0,NaN,NaN,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0
9,9,125,2018-02-19,2018-03-12 11:44:00,Gustavo Machado Capri,RJ,M,1970-09-05,BR,26,74,20,30,NaN,APROVADO,S,E,E,47,False,26,448586,100.0,88.06333,2018-03-13 11:47:36,100.0,100.0,2018-02-23 11:06:20,100.0,80.0,2018-02-23 11:11:15,100.0,75.0,2018-03-01 15:53:50,100.0,80.0,2018-03-01 16:07:28,100.0,100.00,2018-03-01 16:23:19,100.0,71.43,2018-03-01 16:32:48,100.0,80.0,2018-03-05 12:02:03,100.0,100.0,2018-03-05 13:51:34,100.0,94.74,2018-03-05 14:52:31,100.0,75.00,2018-03-06 11:06:21,100.0,88.89,2018-03-06 11:28:22,100.0,83.33,2018-03-06 11:47:53,100.0,80.0,2018-03-12 15:22:40,100.0,90.0,2018-03-12 15:44:26,100.0,100.00,2018-03-12 15:54:14,100.0,100.00,2018-03-13 10:58:38,100.0,100.00,2018-03-13 11:15:27,100.0,88.89,2018-03-13 11:47:36,0,4.0,4.0,10.0,10.0,10.0,10.0,14.0,14.0,14.0,15.0,15.0,15.0,21.0,21.0,21.0,22.0,22.0,22.0,21.0
10,10,133,2018-02-19,2018-03-12 13:36:00,Jefferson Matheus Dantas de Ara├║jo,DF,M,1992-09-01,NaN,26,74,20,30,Minist├Òrio da Sa├║de,APROVADO,S,E,F,25,False,26,448594,100.0,95.84933,2018-02-21 14:41:26,100.0,100.0,2018-02-19 14:01:27,100.0,100.0,2018-02-19 14:09:39,100.0,100.0,2018-02-19 14:41:27,100.0,100.0,2018-02-19 14:54:02,100.0,100.00,2018-02-19 15:18:31,100.0,71.43,2018-02-19 15:25:13,100.0,100.0,2018-02-19 16:32:49,100.0,100.0,2018-02-19 17:13:37,100.0,100.00,2018-02-20 15:10:12,100.0,91.67,2018-02-20 15:37:45,100.0,100.00,2018-02-20 15:48:51,100.0,83.33,2018-02-20 16:01:25,100.0,100.0,2018-02-20 16:17:53,100.0,90.0,2018-02-20 16:38:55,100.0,100.00,2018-02-20 16:47:13,100.0,100.00,2018-02-21 14:04:23,100.0,100.00,2018-02-21 14:17:42,100.0,88.89,2018-02-21 14:41:26,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,21.0
11,11,135,2018-02-19,2018-03-12 13:42:00,deiwison antonio da silva,MG,M,1977-03-05,NaN,26,74,20,30,NaN,APROVADO,S,E,E,40,False,26,448596,100.0,88.21400,2018-03-06 12:35:16,100.0,100.0,2018-02-20 11:31:42,100.0,80.0,2018-02-20 11:14:56,100.0,75.0,2018-02-20 13:59:48,100.0,80.0,2018-02-21 16:38:58,100.0,100.00,2018-02-26 16:09:10,100.0,100.00,2018-02-26 16:18:21,100.0,100.0,2018-02-28 15:00:28,100.0,75.0,2018-02-28 15:31:54,100.0,94.74,2018-02-28 16:49:03,100.0,75.00,2018-03-05 15:02:49,100.0,88.89,2018-03-05 15:15:34,100.0,83.33,2018-03-05 15:32:35,100.0,100.0,2018-03-05 15:51:53,100.0,90.0,2018-03-05 16:19:01,100.0,83.33,2018-03-05 16:31:08,100.0,77.78,2018-03-05 17:08:36,100.0,100.00,2018-03-06 11:45:22,100.0,88.89,2018-06-03 12:35:16,0,1.0,1.0,1.0,2.0,7.0,7.0,9.0,9.0,9.0,14.0,14.0,14.0,14.0,14.0,14.0,14.0,15.0,104.0,21.0
12,12,137,2018-02-19,2018-03-12 13:49:00,Thais da Silva Mota Pimentel,RJ,F,1989-06-19,NaN,26,74,20,30,Comiss?o Nacional de Energia Nuclear,ABANDONO,E,NaN,F,28,True,26,448598,100.0,NaN,NaN,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0
13,13,142,2018-02-19,2018-03-12 14:29:00,CELSO LUIZ CAMILO DOS SANTOS,RJ,M,1961-11-06,NaN,26,74,20,30,NaN,ABANDONO,E,NaN,E,56,True,26,448602,100.0,NaN,NaN,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0
14,14,146,2018-02-19,2018-03-12 14:38:00,RUBENS RAMOS MENDON├çA,SP,M,1957-08-17,NaN,26,74,20,30,Minist├Òrio do Meio Ambiente,ABANDONO,S,E,F,60,True,26,448604,100.0,NaN,NaN,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0
15,15,148,2018-02-19,2018-03-12 14:54:00,GEISE DE oLIVEIRA GON├çALVES,MS,F,1986-09-13,NaN,26,74,20,30,Minist├Òrio da Sa├║de,APROVADO,E,NaN,F,31,False,26,448606,100.0,94.70117,2018-02-20 14:43:13,100.0,100.0,2018-02-19 15:44:05,100.0,100.0,2018-02-19 15:50:43,100.0,100.0,2018-02-19 16:21:33,100.0,80.0,2018-02-19 16:34:47,100.0,100.00,2018-02-19 16:59:07,100.0,71.43,2018-02-20 12:39:27,100.0,100.0,2018-02-20 12:47:22,100.0,100.0,2018-02-20 12:25:58,100.0,100.00,2018-02-20 12:33:14,100.0,100.00,2018-02-20 13:06:02,100.0,77.78,2018-02-20 13:10:42,100.0,100.00,2018-02-20 13:16:28,100.0,100.0,2018-02-20 13:21:19,100.0,100.0,2018-02-20 13:26:14,100.0,83.33,2018-02-20 13:29:25,100.0,88.89,2018-02-20 14:09:12,100.0,100.00,2018-02-20 14:29:43,100.0,100.00,2018-02-20 14:43:13,1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,21.0
16,16,151,2018-02-19,2018-03-12 15:19:00,Vanine Fernandes do prado,SP,F,1979-10-04,NaN,26,74,20,30,Minist├Òrio da Sa├║de,APROVADO,S,E,F,38,False,26,448611,100.0,97.59233,2018-02-20 16:06:32,100.0,100.0,2018-02-19 15:46:00,100.0,100.0,2018-02-19 15:53:23,100.0,100.0,2018-02-20 10:35:05,100.0,100.0,2018-02-20 10:52:27,100.0,83.33,2018-02-20 10:59:31,100.0,100.00,2018-02-20 11:10:16,100.0,100.0,2018-02-20 11:28:40,100.0,100.0,2018-02-20 11:37:07,100.0,100.00,2018-02-20 11:57:06,100.0,100.00,2018-02-20 15:01:21,100.0,88.89,2018-02-20 15:18:15,100.0,100.00,2018-02-20 15:29:22,100.0,100.0,2018-02-20 15:35:28,100.0,100.0,2018-02-20 15:41:00,100.0,83.33,2018-02-20 15:45:48,100.0,100.00,2018-02-20 15:53:26,100.0,100.00,2018-02-20 15:58:56,100.0,100.00,2018-02-20 16:02:41,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,21.0
17,17,152,2018-02-19,2018-03-12 15:27:00,Aylana Cristina Lima de Almeida,PA,F,1991-02-06,BR,26,74,20,30,Universidade Federal do Par├í,APROVADO,S,E,F,27,False,26,241906,100.0,88.28517,2018-02-21 10:15:07,100.0,100.0,2018-02-19 15:55:06,100.0,60.0,2018-02-19 15:58:57,100.0,100.0,2018-02-20 09:38:27,100.0,100.0,2018-02-20 10:01:36,100.0,100.00,2018-02-20 10:21:21,100.0,85.71,2018-02-20 10:28:35,100.0,100.0,2018-02-20 13:31:06,100.0,100.0,2018-02-20 13:44:10,100.0,100.00,2018-02-20 13:55:38,100.0,91.67,2018-02-21 08:09:09,100.0,33.33,2018-02-21 08:44:02,100.0,83.33,2018-02-21 08:53:24,100.0,100.0,2018-02-21 09:06:44,100.0,70.0,2018-02-21 09:40:36,100.0,83.33,2018-02-21 09:47:53,100.0,100.00,2018-02-21 09:56:44,100.0,100.00,2018-02-21 10:02:22,100.0,88.89,2018-02-21 10:15:07,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,21.0
18,18,153,2018-02-19,2018-03-12 15:28:00,Vanessa Carolina Costa,DF,F,1987-05-02,NaN,26,74,20,30,Minist├Òrio da Sa├║de,APROVADO,E,NaN,F,30,False,26,375511,100.0,90.65717,2018-02-20 11:56:39,100.0,100.0,2018-02-19 15:52:44,100.0,100.0,2018-02-19 16:05:09,100.0,75.0,2018-02-19 16:54:22,100.0,80.0,2018-02-20 09:09:04,100.0,100.00,2018-02-20 09:17:28,100.0,100.00,2018-02-20 10:03:52,100.0,100.0,2018-02-20 10:14:05,100.0,100.0,2018-02-20 10:18:29,100.0,100.00,2018-02-20 10:31:47,100.0,75.00,2018-02-20 10:40:47,100.0,77.78,2018-02-20 10:55:16,100.0,83.33,2018-02-20 11:00:03,100.0,80.0,2018-02-20 11:09:23,100.0,80.0,2018-02-20 11:21:44,100.0,83.33,2018-02-20 11:31:27,100.0,100.00,2018-02-20 11:40:05,100.0,100.00,2018-02-20 11:50:29,100.0,100.00,2018-02-20 11:56:39,1,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,21.0
19,19,156,2018-02-19,2018-03-12 15:34:00,Renata Cristina Xavier Braga,RJ,F,1983-12-07,NaN,26,74,20,30,NaN,ABANDONO,S,E,E,34,True,26,448609,100.0,NaN,NaN,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0
20,20,158,2018-02-19,2018-03-12 15:51:00,Lara de Lacerda Ribeiro Souto,RJ,F,1985-04-13,NaN,26,74,20,30,Minist├Òrio do Meio Ambiente,ABANDONO,S,E,F,32,True,26,448615,100.0,NaN,NaN,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0
21,21,163,2018-02-19,2018-03-12 16:18:00,Karolina Willemann,DF,F,1985-11-30,NaN,26,74,20,30,Minist├Òrio da Sa├║de,APROVADO,E,NaN,F,32,False,26,375574,100.0,94.83316,2018-02-20 12:45:56,100.0,100.0,2018-02-19 16:34:16,100.0,100.0,2018-02-19 16:38:43,100.0,100.0,2018-02-20 10:29:24,100.0,100.0,2018-02-20 11:03:36,100.0,100.00,2018-02-20 11:18:31,100.0,100.00,2018-02-20 11:26:29,100.0,90.0,2018-02-20 11:43:43,100.0,100.0,2018-02-20 11:48:24,100.0,100.00,2018-02-20 12:02:29,100.0,75.00,2018-02-20 12:11:43,100.0,100.00,2018-02-20 12:19:53,100.0,100.00,2018-02-20 12:22:56,100.0,100.0,2018-02-20 12:25:14,100.0,60.0,2018-02-20 12:30:03,100.0,83.33,2018-02-20 12:35:42,100.0,100.00,2018-02-20 12:40:02,100.0,100.00,2018-02-20 12:43:30,100.0,100.00,2018-02-20 12:45:55,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,21.0
22,22,164,2018-02-19,2018-03-12 16:31:00,Saradany Britez Flores,MS,F,1988-04-24,NaN,26,74,20,30,NaN,ABANDONO,E,NaN,NaN,29,True,26,448616,100.0,NaN,NaN,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0
23,23,166,2018-02-19,2018-03-12 16:44:00,ROSENI DE PINHO MENDES,CE,F,1971-09-18,NaN,26,74,20,30,"Instituto Federal de Educa├º?o, Ci─Õncia e Tecnologia do Cear├í",APROVADO,S,E,F,46,False,26,306430,100.0,85.28783,2018-03-08 17:00:55,100.0,100.0,2018-02-20 11:33:33,100.0,100.0,2018-02-20 11:53:18,100.0,75.0,2018-02-20 15:28:18,100.0,80.0,2018-02-20 16:01:45,100.0,66.67,2018-02-23 11:55:32,100.0,100.00,2018-02-24 17:00:03,100.0,90.0,2018-02-24 17:49:16,100.0,100.0,2018-02-25 16:32:58,100.0,100.00,2018-02-25 17:03:14,100.0,66.67,2018-02-25 17:54:14,100.0,55.56,2018-02-26 10:23:10,100.0,83.33,2018-02-27 15:19:47,100.0,100.0,2018-03-02 14:41:41,100.0,90.0,2018-03-06 13:37:34,100.0,66.67,2018-03-06 16:52:48,100.0,77.78,2018-03-07 20:02:54,100.0,100.00,2018-03-07 20:21:23,100.0,88.89,2018-08-03 17:00:55,1,1.0,1.0,1.0,1.0,4.0,5.0,5.0,6.0,6.0,6.0,7.0,8.0,11.0,15.0,15.0,16.0,16.0,165.0,21.0
24,24,167,2018-02-19,2018-03-12 17:04:00,VALDEL?RIO FARIAS CORDEIRO,AM,M,1970-04-15,NaN,26,74,20,30,Funda├º?o Universidade do Amazonas,ABANDONO,S,E,F,47,True,26,7239,100.0,NaN,NaN,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,100.0,NaN,NaT,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0

In [21]:
alunos['prazo'].unique()

array([21., 30.])

In [22]:
for i in range(1,19):
    string_i = str(i)
    alunos['tupla_nota_'+string_i] = alunos[['dia_atividade_'+string_i,
                                                       'nota_aluno_atividade_'+string_i]].apply(tuple, axis=1)

In [23]:
alunos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79614 entries, 0 to 79613
Columns: 117 entries, ∩╗┐index to tupla_nota_18
dtypes: bool(1), datetime64[ns](21), float64(57), int64(10), object(28)
memory usage: 73.2+ MB

In [114]:
tupla = [col for col in alunos.columns if 'tupla_nota' in col]

periodo_1 = pd.DataFrame(columns=[
'sg_uf',
'tp_sexo',
'sg_pais',
'tx_nome_orgao',
'tp_servidor_militar_cidadao',
'tp_poder_execut_legisl_judic',
'esfera',
'churn',
#'prazo',
'media_notas',
'coef_notas'])

dic_list = []
for index, row in alunos.iterrows():
    notas = []
    dias = []
    for col in tupla:
        if (row[col][0] <= 3 and not pd.isna(row[col][1])):
            #print(row[col][1])
            notas.append(row[col][1])
            dias.append(row[col][0])
            
    
        
    if len(notas)>1:
        #print(notas)
        media_notas = statistics.mean(notas)

        slope, intercept, r_value, p_value, std_err = stats.linregress(range(1,len(dias)+1),notas)
        coef_notas = slope
    elif len(notas) == 1:
        #print(notas)
        media_notas = statistics.mean(notas)
        coef_notas = 0
    else:
        media_notas = 0
        coef_notas = 0
    
    # Empty dict
    d = {}

    d["id_inscricao"] = row['id_inscricao']
    d["sg_uf"] = row['sg_uf']
    d["tp_sexo"] = row['tp_sexo']
    d["sg_pais"] = row['sg_pais']
    d["tx_nome_orgao"] = row['tx_nome_orgao']
    d["tp_servidor_militar_cidadao"] = row['tp_servidor_militar_cidadao']
    d["tp_poder_execut_legisl_judic"] = row['tp_poder_execut_legisl_judic']
    d["esfera"] = row['esfera']
    d["churn"] = row['churn']
    d["prazo"] = row['prazo']
    d["media_notas"] = media_notas
    d["coef_notas"] = coef_notas
    d["qtd_atv"] = len(notas)
    
    
    
    
    dic_list.append(d)
    #print(index)

In [115]:
periodo_1 = pd.DataFrame(dic_list)

In [116]:

periodo_1.isna().any()

id_inscricao                    False
sg_uf                            True
tp_sexo                         False
sg_pais                          True
tx_nome_orgao                    True
tp_servidor_militar_cidadao     False
tp_poder_execut_legisl_judic     True
esfera                           True
churn                           False
prazo                           False
media_notas                     False
coef_notas                      False
qtd_atv                         False
dtype: bool

In [117]:

periodo_1.reset_index()

periodo_1 = periodo_1.fillna('')

In [50]:
X_train, X_test, y_train, y_test = train_test_split(periodo_1, periodo_1['churn'], test_size=0.3, random_state=1)

In [51]:
#X_train['outlier'] = yhat
X_train['churn'] = y_train
df_train =X_train

X_test['churn'] = y_test

In [52]:
periodo_1['qtd_atv'].unique()

array([10,  0,  1, 18,  6,  9, 12,  8,  7, 11, 13, 17,  3, 14,  4, 15,  2,
       16,  5], dtype=int64)

In [53]:
from pycaret.classification import *
s = setup(data = df_train,
          test_data = X_test,
          target = 'churn', 
          fix_imbalance=True,
          feature_selection = True,
         numeric_features = ['qtd_atv'])

In [36]:
best_model = compare_models()

In [54]:
dt = create_model('lightgbm')

In [55]:
%matplotlib inline
%config InlineBackend.figure_format = 'svg'
evaluate_model(dt)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [56]:
interpret_model(dt)

In [135]:
log_26 = pd.read_csv("dados\Logs-SEI\Logs_alunos_curso_SEI_oferta_26.csv",sep = ';',encoding ='cp860',parse_dates=
                     ['data_log'])

log_411 = pd.read_csv("dados\Logs-SEI\Logs_alunos_curso_SEI_oferta_411.csv",sep = ';',encoding ='cp860',parse_dates=
                     ['data_log'])

In [136]:
log = pd.concat([log_26,log_411])

In [137]:
log_aluno = log.merge(alunos[['id_inscricao','dt_inscricao']], on='id_inscricao', how='inner')
log_aluno['dia']= log_aluno['data_log'].sub(log_aluno['dt_inscricao'], axis=0).astype('timedelta64[D]')

In [138]:
log_aluno['acao'] = log_aluno['component'] + '/' + log_aluno['action'] + '/' +log_aluno['target']
log_aluno = log_aluno.drop(['component','action','target','id_log','dt_inscricao','data_log'], axis=1) 
log_aluno

         id_inscricao  id_oferta   dia                                   acao
0                  94         26   0.0                     core/viewed/course
1                 115         26   3.0                     core/viewed/course
2                 115         26   3.0                  core/viewed/user_list
3                 115         26   3.0                  core/viewed/user_list
4                 115         26   3.0                  core/viewed/user_list
...               ...        ...   ...                                    ...
4300548        315391        411  14.0         mod_scorm/viewed/course_module
4300549        315391        411  14.0                 mod_scorm/launched/sco
4300550        315391        411  14.0           mod_scorm/submitted/scoreraw
4300551        315391        411  14.0  core/updated/course_module_completion
4300552        315391        411  14.0             mod_scorm/submitted/status

[4300553 rows x 4 columns]

In [143]:
def encode_and_bind(original, feature_to_encode):
    dummies = pd.get_dummies(original[[feature_to_encode]])
    res = pd.concat([original, dummies], axis=1)
    return(res)

log_pivot = encode_and_bind( log_aluno, 'acao')

In [154]:
log_ok = log_pivot[log_pivot['dia']<=3].drop(['id_oferta','dia','acao'], axis=1).groupby('id_inscricao').sum().reset_index()
log_ok

,id_inscricao,acao_booktool_print/printed/book,acao_booktool_print/printed/chapter,acao_core/assigned/role,acao_core/created/user_enrolment,acao_core/deleted/course_section,acao_core/graded/user,acao_core/updated/course,acao_core/updated/course_module,acao_core/updated/course_module_completion,...,acao_mod_questionnaire/saved/attempt,acao_mod_questionnaire/submitted/attempt,acao_mod_questionnaire/viewed/all_responses,acao_mod_questionnaire/viewed/course_module,acao_mod_resource/viewed/course_module,acao_mod_scorm/launched/sco,acao_mod_scorm/submitted/scoreraw,acao_mod_scorm/submitted/status,acao_mod_scorm/viewed/course_module,acao_mod_url/viewed/course_module
0,92,0,0,0,0,0,7,0,0,60,...,0,0,0,0,4,7,7,6,9,29
1,94,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,97,0,0,0,0,0,3,0,0,31,...,0,0,0,0,2,5,5,3,9,22
3,106,0,0,0,0,0,24,0,0,173,...,1,1,2,2,1,25,25,24,26,76
4,109,0,0,0,0,0,22,0,0,90,...,0,0,0,0,8,37,34,27,53,116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13819,334435,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
13820,334453,0,0,0,0,0,2,0,0,20,...,0,0,0,0,3,2,2,2,3,8
13821,334458,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,1
13822,334463,0,0,0,0,0,7,0,0,65,...,0,0,0,0,0,7,7,7,7,28
13823,334929,0,0,0,0,0,0,0,0,6,...,0,0,0,0,0,0,0,0,0,4

In [155]:
periodo_act = periodo_1.merge(log_ok, on = 'id_inscricao',how = 'inner')
periodo_act

,id_inscricao,sg_uf,tp_sexo,sg_pais,tx_nome_orgao,tp_servidor_militar_cidadao,tp_poder_execut_legisl_judic,esfera,churn,prazo,...,acao_mod_questionnaire/saved/attempt,acao_mod_questionnaire/submitted/attempt,acao_mod_questionnaire/viewed/all_responses,acao_mod_questionnaire/viewed/course_module,acao_mod_resource/viewed/course_module,acao_mod_scorm/launched/sco,acao_mod_scorm/submitted/scoreraw,acao_mod_scorm/submitted/status,acao_mod_scorm/viewed/course_module,acao_mod_url/viewed/course_module
0,92,MG,F,,,S,E,E,False,21.0,...,0,0,0,0,4,7,7,6,9,29
1,94,RJ,M,,Universidade Federal Fluminense,S,E,F,True,21.0,...,0,0,0,0,0,0,0,0,0,0
2,97,MG,F,,,S,E,E,False,21.0,...,0,0,0,0,2,5,5,3,9,22
3,106,DF,M,,,C,,,False,21.0,...,1,1,2,2,1,25,25,24,26,76
4,109,TO,F,,,E,,F,False,21.0,...,0,0,0,0,8,37,34,27,53,116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13819,334435,DF,M,,,S,E,E,True,21.0,...,0,0,0,0,2,0,0,0,0,0
13820,334453,MG,F,BR,,S,E,E,False,21.0,...,0,0,0,0,3,2,2,2,3,8
13821,334458,MG,F,BR,,E,,E,True,21.0,...,0,0,0,0,0,0,0,0,0,1
13822,334463,SP,M,BR,Pol├¡cia Militar,M,,E,False,21.0,...,0,0,0,0,0,7,7,7,7,28
13823,334929,PR,F,BR,Empresa Brasileira de Servi├ºos Hospitalares,E,,F,True,21.0,...,0,0,0,0,0,0,0,0,0,4

In [168]:
periodo_1_redu = periodo_act[periodo_1.columns]

In [169]:
X_train, X_test, y_train, y_test = train_test_split(periodo_1_redu, periodo_1_redu['churn'], test_size=0.3, random_state=1)

In [170]:
#X_train['outlier'] = yhat
X_train['churn'] = y_train
df_train =X_train

X_test['churn'] = y_test

In [171]:
from pycaret.classification import *
s = setup(data = df_train,
          test_data = X_test,
          target = 'churn', 
          fix_imbalance=True,
          feature_selection = True,
         numeric_features = ['qtd_atv'],
         ignore_features = ['id_inscricao'])

In [175]:
best_model = compare_models()

In [172]:
dt_act = create_model('gbc')

In [173]:
%matplotlib inline
%config InlineBackend.figure_format = 'svg'
evaluate_model(dt_act)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [174]:
interpret_model(dt_act)

TypeError: This function only supports tree based models for binary classification: rf, dt, lightgbm, et.

In [176]:
alunos

,∩╗┐index,id_inscricao,dt_inscricao,dt_fim_inscricao,tx_nome_aluno,sg_uf,tp_sexo,dt_nascimento,sg_pais,id_oferta_x,...,tupla_nota_9,tupla_nota_10,tupla_nota_11,tupla_nota_12,tupla_nota_13,tupla_nota_14,tupla_nota_15,tupla_nota_16,tupla_nota_17,tupla_nota_18
0,0,92,2018-02-19 00:00:00,2018-03-12 07:42:00,Raylle Hostalacio de Pinho Tavares,MG,F,1958-07-28,NaN,26,...,"(4.0, 100.0)","(16.0, 83.33)","(16.0, 77.78)","(9.0, 83.33)","(10.0, 100.0)","(11.0, 90.0)","(11.0, 100.0)","(14.0, 88.89)","(15.0, 100.0)","(134.0, 100.0)"
1,1,94,2018-02-19 00:00:00,2018-03-12 07:59:00,HENRICLAY CERNADAS PEREIRA,RJ,M,1973-06-15,NaN,26,...,"(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)"
2,2,97,2018-02-19 00:00:00,2018-03-12 08:44:00,THAIS AMARAL COUTINHO,MG,F,1949-06-19,NaN,26,...,"(12.0, 100.0)","(12.0, 100.0)","(12.0, 100.0)","(12.0, 100.0)","(12.0, 100.0)","(12.0, 100.0)","(12.0, 100.0)","(13.0, 100.0)","(13.0, 100.0)","(43.0, 100.0)"
3,3,106,2018-02-19 00:00:00,2018-03-12 09:45:00,Thiago vieira Medeiros,DF,M,1984-10-07,NaN,26,...,"(1.0, 100.0)","(1.0, 75.0)","(1.0, 88.89)","(1.0, 83.33)","(2.0, 100.0)","(2.0, 100.0)","(2.0, 100.0)","(3.0, 77.78)","(3.0, 100.0)","(3.0, 100.0)"
4,4,109,2018-02-19 00:00:00,2018-03-12 10:08:00,Ana Maria Ribeiro Moraes,TO,F,1978-04-13,NaN,26,...,"(3.0, 94.74)","(4.0, 91.67)","(4.0, 88.89)","(4.0, 100.0)","(4.0, 100.0)","(4.0, 80.0)","(5.0, 83.33)","(5.0, 77.78)","(5.0, 85.71)","(5.0, 100.0)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79609,79609,553927,2019-02-27 22:39:00,2019-03-29 23:59:00,lidiane carvalho gontijo,MG,F,1978-12-22,BR,852,...,"(0.0, 94.74)","(0.0, 50.0)","(0.0, 22.22)","(0.0, 83.33)","(0.0, 80.0)","(0.0, 100.0)","(0.0, 83.33)","(0.0, 77.78)","(0.0, 100.0)","(0.0, 100.0)"
79610,79610,553937,2019-02-27 22:37:00,2019-03-29 23:59:00,anair soares da costa,RN,F,1967-05-20,BR,852,...,"(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)"
79611,79611,553995,2019-02-27 23:57:00,2019-03-29 23:59:00,ADEILTON AMADO SILVA DOS SANTOS,AL,M,1981-08-02,BR,852,...,"(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)"
79612,79612,554003,2019-02-27 23:57:00,2019-03-29 23:59:00,ROBSON PEREIRA DA SILVA,PE,M,1983-11-20,BR,852,...,"(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)"
79613,79613,554006,2019-02-28 00:01:00,2019-03-30 23:59:00,MARIA FLAVIA SANTOS DE OLIVEIRA,RN,F,1975-01-30,BR,852,...,"(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)","(nan, nan)"

In [188]:
alunos[alunos['servidor'] == 0]['churn'].value_counts(normalize=True) * 100

False    59.47252
True     40.52748
Name: churn, dtype: float64

In [189]:
alunos[alunos['servidor'] == 1]['churn'].value_counts(normalize=True) * 100

False    71.940104
True     28.059896
Name: churn, dtype: float64